body {
    font-family: 'Times New Roman', Times, serif;
    margin: 1;
    padding: 0;
    line-height: 1.5;
    background-color: #f4f4f4;
}
header {
    background: #f2efef;
    color: #000004;
    text-align: center;
    padding: 1rem 0;
}
footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
